*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
  font-size: 100%;
}
/* header menu logo */
#header1{
    background-color: #53284f;
    height: 80px;
}
.nav{
    max-width: 1650px;
    margin: 0px auto;
}
nav{
    display: flex;
}
#main-menu{
    display: flex;
    list-style: none;
    margin-left: 2.5rem;

}
.nav #logo img{
    /* logo */
    max-width: 200px;
    height: auto;
}
#logo{
    padding: 5px 0px;
    margin-top: 0.6rem;
}
#main-menu li {
    position: relative;
}
#main-menu li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 25px 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    height: 3.5rem;
} 
/* sub menu */
#main-menu ul.sub-menu{
    position: absolute;
    background-color: #ebeaea;
    padding: 15px 0px;
    list-style: none;
    width: 12rem;
    border-radius: 5px;
    opacity: 80%;
    left: 1.45rem;
    display: none;
    margin-top: 1rem;
    z-index: 2;
}
#main-menu ul.sub-menu a{
    padding: 10px 30px;
}
#main-menu li:hover ul.sub-menu{
    display: block;
  
}


  h2#titlepr{
    margin-top: 1rem;
    margin-left: 2rem;
    font-family: 'Open Sans';
    color: rgb(37, 37, 37);
    border-bottom: 1px solid black;
    width: 96.5%;
    padding-bottom: 1rem;
  }
/* 
  Phan thong tin san pham */

  .infoproduct{
    display: flex;
    flex-wrap: wrap;
  position: relative;
  }
  .img-des{
    border: 1px black solid;
    width: 470px;
    height: 500px;
    position: relative;
    margin-top: 10px;
    margin-left: 32px;
   
  }
  .img-des img{
    object-fit: fill;
    /* object-position: ; */
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  /* phan mo ta */
  .description{
    /* border: 1px solid black;  */
    height: 500px;
    margin-top: 10px;
    width: 500px;
    padding: 0px 30px;
    margin-left: 6px;
  }

/* brand*/
div#brand {
  font-size: 23px;
  /* font-family: 'Open Sans'; */
  margin-top: 7px;
  position: absolute;
  top: 11%;
  /* transform: translateY(-22%);*/
}

.category{
  font-size: 23px;
  /* font-family: 'Open Sans'; */
  margin-top: 7px;
  position: absolute;
  top: 18%;
}
#type{
  font-size: 23px;
  /* font-family: 'Open Sans'; */
  margin-top: 7px;
  position: absolute;
  top: 25%;
}
#price{
  font-size: 23px;
  /* font-family: 'Open Sans'; */
  margin-top: 7px;
  position: absolute;
  top: 32%;
}

.lst_img-des{
  margin-top: 1.5rem;
  width: 50rem;
  display: flex;
  position: absolute;
  top: 37%;
}
.lst_img-des img{
width: 10rem;
margin-right: 15px;
border: 1px black solid;
}
.mo-ta{
  font-size: 18px;
  /* margin-top: 56px; */
  width: 66%;
  position: absolute;
  top: 84.5%;
}
.add-cart{
  position: absolute;
    top: 75.5%;
    height: 36px;
    background: #53284f;
    color: white;
    border-radius: 5px;
    font-family: 'open sans';
    width: 7%;
    cursor: pointer;
}
.name{
  position: absolute;
  top: 0.75%;
}
